<!-- components/CustomMap.vue -->
<template>
  <div id="custom-map">
    <l-map :zoom="zoom" :center="center">
      <l-tile-layer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      ></l-tile-layer>

      <l-polyline :lat-lngs="points" :options="polylineOptions"></l-polyline>
    </l-map>
  </div>
</template>

// In CustomMap.vue
<script>
import "leaflet/dist/leaflet.css";
import { ref, onMounted, watch } from "vue";
import { LMap, LTileLayer, LPolyline } from "vue2-leaflet";

export default {
  components: {
    LMap,
    LTileLayer,
    LPolyline,
  },
  props: {
    points: {
      type: Array,
      required: true,
    },
  },
  setup(props) {
    const polyline = ref([]);
    const center = ref([0, 0]);
    const zoom = ref(17);
    const polylineOptions = ref({ color: "red" });
    const updatePolyline = () => {
      try {
        // console.log("Points updated:", props.points);

        polyline.value = props.points;

        if (polyline.value.length > 0) {
          const avgLat = polyline.value.reduce((sum, point) => sum + point[0], 0) / polyline.value.length;
          const avgLng = polyline.value.reduce((sum, point) => sum + point[1], 0) / polyline.value.length;
          center.value = [avgLat, avgLng];
        } else {
          // Handle the case when points array is empty
          // You might want to set a default center or perform other actions
          center.value = [0, 0];
        }
      } catch (error) {
        console.error('Error in updatePolyline:', error);
      }
    };

    // Watch the points prop for changes
    watch(() => props.points, updatePolyline, { deep: true, immediate: true });

    // Fetch initial data or perform other initialization logic
    onMounted(() => {
      // Uncomment and replace with your initialization logic if needed
      // fetchData();
    });

    return {
      polyline,
      center,
      zoom,
      polylineOptions,
    };
  },
};
</script>


<style scoped>
#custom-map {
  height: 100vh;
  width: 100%;
}
</style>
