<!-- App.vue -->
<template>
  <div id="app">
    <CustomMap :points="points" />
    <div v-if="loading" class="loading">Loading...</div>
  </div>
</template>

<script>
import CustomMap from "./components/CustomMap.vue";
// import axios from "axios";
import axios from './axiosConfig.js';

export default {
  components: {
    CustomMap,
  },
  data() {
    return {
      points: [],
      loading: false,
    };
  },
  mounted() {
    this.fetchPointsData(); // Initial fetch

    // Update points every minute
    setInterval(() => {
      this.fetchPointsData();
    }, 10000);
  },
  methods: {
    async fetchPointsData() {
      try {
        this.loading = true;
        const response = await axios.get("/points/GPRMC");
        this.points = response.data;
        // console.log("downloaded numer of points ",this.points)
      } catch (error) {
        console.error("Error fetching points data:", error);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
#app {
  position: relative;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}
</style>
